{% load static %}
<html>
    <head>
        <title>Polls Application DJango</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        <div class="page-header">
            <p><span class="glyphicon glyphicon-plus" onclick=createpoll() ></span></p>
            <h1><a href="{% url 'polls:index' %}">Polls Application</a></h1>
            <h2><a href="/admin">Admin Login</a></h2>
            {% if user.is_authenticated %}
            <p class="text-right" href="">Currently Logged In As: {{request.user}}</p>
            <p class="text-right" onclick=logout()>Logout</p>
            {% else %}
            <p class="text-right" onclick=login()>Not Logged in. Click here to login</p>
            <button class= 'btn btn-success pull-right' onclick=signup()>
                User SignUp
            </button>
            {% endif %}
            
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

<script>
function signup()
{
     location.href = "{% url 'polls:signup' %}";
} 
</script>

<script>
function login()
{
    location.href = "{% url 'polls:login' %}"
}
</script>

<script>
function logout()
{
    location.href = "{% url 'polls:logout' %}"
}
</script>

<script>
function createpoll()
{
    location.href = "{% url 'polls:new_poll' %}"
}
</script>